---
const { imgSrc, imgAlt, category, date, title, desc, href } = Astro.props;
---

<li class="blog-post-item">
  <a href={href || "#"} target="_blank">
    <figure class="blog-banner-box">
      <img src={imgSrc} alt={imgAlt} loading="lazy" />
    </figure>

    <div class="blog-content">
      <div class="blog-meta">
        <p class="blog-category">{category}</p>

        <span class="dot"></span>

        <time datetime={date}>{date}</time>
      </div>

      <h3
        class="font-semibold h3 blog-item-title font-helvetica line-clamp-2"
        title={title}
      >
        {title}
      </h3>

      <p class="font-normal blog-text font-helvetica line-clamp-3" title={desc}>
        {desc}
      </p>
    </div>
  </a>
</li>
