---
const { projectName, projectCategory, imgSrc, imgAlt, href } = Astro.props;
---

<li
  class="project-item active"
  data-filter-item
  data-category={projectCategory.toLowerCase()}
>
  <a href={href} target="_blank">
    <figure class="project-img">
      <div class="project-item-icon-box">
        <ion-icon name="eye-outline"></ion-icon>
      </div>

      <img src={imgSrc} alt={imgAlt} loading="lazy" />
    </figure>

    <h3 class="font-light tracking-wider font-fjalla project-title">{projectName}</h3>

    <p class="text-sm project-category font-helvetica">{projectCategory}</p>
  </a>
</li>
