---
const { imgSrc, imgAlt, name, desc, time, href } = Astro.props;
---

<li class="testimonials-item">
  <div class="content-card" data-testimonials-item>
    <figure class="testimonials-avatar-box">
      <img
        src={imgSrc}
        alt={imgAlt}
        style="width: 60px;"
        data-testimonials-avatar
      />
    </figure>

    <h4
      class="font-semibold h4 testimonials-item-title w-max"
      data-testimonials-title
    >
      <a href={href} target="_blank">{name}</a>
    </h4>

    <time data-testimonials-time style="display: none;">{time}</time>

    <div class="font-thin testimonials-text font-fjalla" data-testimonials-text>
      <p>{desc}</p>
    </div>
  </div>
</li>
